<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">

    <!-- 按大小产生 biz -->

    <appender name="bizAppend" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${webapp.root}/logs/biz.log"/>
        <param name="Append" value="true"/>
        <!--       <param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'"/>-->
        <param name="MaxBackupIndex" value="0"/>
        <param name="MaxFileSize" value="4000000"/>
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="[date:%d{yyyy-MM-dd HH:mm:ss}] %m%n"/>-->
            <param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%c] :%m%n"/>

        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>

    <appender name="consoleAppend" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%5p][%t][%c{1}]-[%M] %m%n"/>
        </layout>
    </appender>

    <!-- 按日期error log -->
    <appender name="errorAppend" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${webapp.root}/logs/error/error.html"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="yyyy-MM-dd-HH-mm'.html'"/>
        <!--<param name="MaxBackupIndex" value="10"/>-->
        <param name="MaxFileSize" value="40000"/>
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.HTMLLayout">
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>


    <!--
        logger的作用：
        1.[name属性]:指定你定义Logger对象时候的name
        2. additivity : children-logger是否使用 rootLogger的配置,
           additivity在log4j默认为true。这解释了为什么有些时候，一个日志信息在屏幕上会有多次输出。
        3.还可以指定level(输出级别)、appender-ref(指定哪个append)
     -->
    <!-- loggers -->
    <logger name="com.big.data.service" additivity="true">
        <level value="debug"/>
        <appender-ref ref="consoleAppend"/>
        <!-- 如果1个包想对应多个 Appender 就这样,对于每个Appender自定义的日志级别可以在Appender上加上filter -->
        <appender-ref ref="bizAppend"/>
    </logger>


    <!--
        root的作用(相当于全局的意思):
        1.[priority ]:指定默认的全局输出级别
        2.[appender-ref ]:指定一些默认的append（没有指出特殊包或者类，即那些没有指定<logger>元素的append）的输出；
    -->
    <root>
        <level value="error"/>
        <!-- 将 logger 中 additivity=true 的日志或者没有指定<logger>的append输出到控制台 -->
        <appender-ref ref="consoleAppend"/>
        <!-- 将全局的 error 日志输出到error文件中 -->
        <appender-ref ref="errorAppend"/>
        <!--   &lt;!&ndash;<appender-ref ref="bizAppend"/>-->-->
    </root>


</log4j:configuration>