<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <property name="log.path">logs</property>
    </Properties>
    <appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p][%d{HH:mm:ss}][%t]%c{2}(%L) %m%n"/>
        </Console>
        <RollingFile name="FileAppender" fileName="${log.path}/service.log"
                     filePattern="${log.path}/$${date:yyyy-MM}/service-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c(line-%L) %-4r %x - %m%n"/>
            <SizeBasedTriggeringPolicy size="100 MB"/>
        </RollingFile>

    </appenders>
    <loggers>


        <logger name="com.big.data" level="debug" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="FileAppender"/>
        </logger>

        <logger name="java.sql" level="error" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="FileAppender"/>
        </logger>

        <root level="error">
            <appender-ref ref="ConsoleAppender"/>
            <appender-ref ref="FileAppender"/>
        </root>

    </loggers>
</configuration>