<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- 引入属性文件 -->
    <!--    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations" value="classpath*:properties/*.properties"/>
        </bean>

        <bean id="springs" class="com.chargerlink.util.spring.Springs"/>

        <import resource="classpath*:/spring/applicationContext-jdbc.xml"/>
        <import resource="classpath*:/spring/applicationContext-scheduler.xml"/>
        <import resource="classpath*:/spring/spring-redis.xml"/>-->
    <!--<import resource="classpath*:/spring/spring-tx.xml"/>-->
    <!--<import resource="classpath*:spring/spring-*.xml"/>-->
</beans>