<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">

    <!-- 按大小产生 biz -->
    <appender name="bizAppend" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${webapp.root}/logs/biz.log"/>
        <param name="Append" value="true"/>
        <!--       <param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'"/>-->
        <param name="MaxBackupIndex" value="0"/>
        <param name="MaxFileSize" value="4000000"/>
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="[date:%d{yyyy-MM-dd HH:mm:ss}] %m%n"/>-->
            <param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%c] :%m%n"/>

        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>

    <appender name="consoleAppend" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%5p][%t][%c{1}]-[%M] %m%n"/>
        </layout>
    </appender>

    <!-- 按日期error log -->
    <appender name="errorAppend" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${webapp.root}/logs/error/error.html"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="yyyy-MM-dd-HH-mm'.html'"/>
        <!--<param name="MaxBackupIndex" value="10"/>-->
        <param name="MaxFileSize" value="40000"/>
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.HTMLLayout">
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>

    <!-- loggers -->
    <logger name="com.big.data.service" additivity="true">
        <level value="info"/>
        <appender-ref ref="bizAppend"/>
    </logger>

    <root>
        <level value="error"/>
        <appender-ref ref="errorAppend"/>
    </root>


</log4j:configuration>